body {
  background-color: #fcfcfc;
  text-align: center;
}

.row {
  height: 100px;
}

.card {
  cursor: pointer;
}

.deck_image {
  max-width: 25px;
  max-height: 35px;
}

.highlight .carousel__inner-slide {
  box-shadow: 0 0 15px rgb(0, 0, 0);
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 2px solid rgb(81, 203, 238);
  box-sizing: border-box;
}

.carousel__dot--selected {
  background-color: #82b7df;
}

.carousel__dot {
  width: 50px;
  height: 60px;
}

.carousel__dot img {
  width: 100%;
}